.home{
    display: flex;
    /* position: relative; */
}
.productContainer{
    display: flex;
    width: 78%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    /* justify-content: center; */
    align-items: center;
    
}
.productContainer img{
    margin-left: 15px;
    margin-top: 15px;
    justify-content: center;
}
.header{
   /* height: 80%; */
}
.filters{
    background-color: #343a40;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 10px;
    height: 86vh inherit;

}
 .span{
    padding-bottom: 20px;
    margin: 5px ;
}
.title{
    font-size: 30px;
}
.cart-image img{
    width: 300px;
    height: 300px;
}

.products{
    width: 30%;
    margin: 10px;
}
.cartitem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    margin-bottom: 20px;
}
.cartItemImage{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.cardItemDetail{
    display: flex;
    flex: 1;
    padding: 0 20px;
    flex-direction: column;
}
.drop{
    margin-right: 160px;
    width: 100px;
}
.summary{
    width: 30%;
}
.prodextra{
    /* height: 150px; */
    align-items: center;
}