.title{
    font-size: 7vw;
    /* text-transform: uppercase; */
    font-family:'Courier New', Courier, monospace;
    font-weight: 100;
    
}
.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 35vh;
    width: 100%;
}
.inputs{
    /* border-color: white; */
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.feildcolor{
     background-color:rgb(91, 109, 105);
    border-color: white;
    border-radius: 8px;
}
@media (max-width:900px){
    .header{
        height: 25vh;
    }
    .title{
        font-size: 11vw;
    }
}
.search, .select{
    width: 43%;
    color: white;
    background-color: rgb(189, 203, 216);
}