.product{
  width: 20%;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
.productDisc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}
.productContainer{
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
